body{
    margin:0;
    padding: 0;
    background-color: wheat;
}
#main{
    width: 1200px;
    margin: 0 auto;

}
.nav-bar{
    height: 100px;
}
.nav-bar ul{
    float: right;
    margin: 20px 0;
    
}
.nav-bar ul li{
    display: inline-block;
    margin-right: 40px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black; 
}
#search-section{
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: 30px 0;
}
#meal-dashboard{
    display: grid;
    grid-template-columns: repeat(4,1.5fr);
    grid-gap: 20px;
}
.div-category{
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: lightgrey;
    border: 1px solid rgb(41, 43, 46);

}
.div-category img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}
.dishName{
    padding: 10px;
}

#input{
    height: 35px;
    width: 500px;
    border-radius: 5px;
}
button{
    height: 35px;
    background-color: salmon;
    border-radius: 5px;
}
#description{
    text-align: center;
    padding: 20px;
}
#description h2{
    margin:20px;
}
#description img {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    left:50%;
}
.meal-Ingredient{
     left:50%;
}
.meal-Ingredient ul{
    display:inline-block;
}
